{% extends 'dbtest/base.html' %}

{% block title %}
添加课程
{% endblock %}

{% block body %}
<h1>添加课程</h1>
<form action="{% url 'addCourse' %}" method="post">
    {% csrf_token %}
    <p>课程号：<input type="text" name="id" oninput="value=value.replace(/[^\d]/g,'')"></p>
    <p>教工号：<input type="text" name="tid" oninput="value=value.replace(/[^\d]/g,'')"></p>
    <p>课程名：<input type="text" name="name"></p>
    <p>学分：<input type="number" name="credit" step="0.1" value="0.0"></p>
    <button type="submit" style="color: aquamarine">提交</button>
</form>
<a href="{% url 'courseList' %}"><button style="color: lightpink">取消</button> </a>

{% endblock %}